@model CheckoutPaymentInfoModel
<div class="checkout-data">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoTop })
    <div class="section payment-info">
        <div>
            <div class="design1div_left">
                <img src="/images/creditcard_newdesign.png" width="200">
            </div>
        </div>
        <div class="design1div_rigth">
            <div class="info">
                @await Component.InvokeAsync(Model.PaymentViewComponentName)
            </div>
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
        </div>
    </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoBottom })
        @if (Model.DisplayOrderTotals)
        {
            <div class="section order-summary">
                @await Component.InvokeAsync("OrderSummary")
            </div>
        }
    </div>
