* {
    
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #546E7A;
}

.page_title {
    
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #222222;
    
}

.page-sort label {
    
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #546E7A;
}

.btn-sort {
    position: absolute;
    top: 24px;
    right: 15px;
    padding: 8px;
}

.form-sort {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

    .form-sort select, .form-sort input {
        
        display: inline-block;
        width: 100%;
        height: 40px;
        cursor: pointer;
        padding: 11px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #ECEFF1;
        color: #78909c;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .form-sort select::-ms-expand {
            display: none;
        }

        .form-sort select:hover,
        .form-sort select:focus {
            color: #78909C;
            background: #ECEFF1;
        }

        .form-sort select:disabled {
            opacity: 0;
            pointer-events: none;
        }

.select_arrow {
    position: absolute;
    background: #E44436;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 0px;
    pointer-events: none;
}

.arrow-sort {
    color: white;
    position: absolute;
    top: 13px;
    left: 15px;
}

.page_title {
    padding-bottom: 90px;
    margin-top: 50px;
}

.page {
    text-align: left;
}

.card-order {
    background: #F5F5F5;
    margin-top: 57px;
    padding: 20px;
}

.card-order-title {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #546E7A;
    margin-top: 16px;
}

.estimated-arrival {
    color: #607D8B !important;
}

.card-order-text {
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.card-order-text2 {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #455A64;
}

.card-order-text3 {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #546E7A;
    margin-top: -10px;
}

.card-order-shipping-info {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #455A64;
    margin-top: -10px;
}

.card-order-text-danger {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #E44436;
}

.card-order-icon-size {
    font-size: 24px;
}

.btn {
    padding: 10px;
}

.btn-danger, .btn-info, .btn-success {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.btn-danger {
    background: #E44436;
    height: 40px;
    cursor:text !important;
}

.btn-yellow {
    background-color: #f39c12;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    cursor:text !important;
}

    .btn-yellow:hover, .btn-yellow:focus {
        color: #fff;
    }

    .btn-green {
        background-color: #5cb85c;
        border-color: #4cae4c;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        color: #fff;
        cursor: text !important;
    }

        .btn-green:hover, .btn-green:focus {
            color: #fff;
        }

.btn-red {
    background-color: #dd4b39;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
}

    .btn-red:hover, .btn-red:focus {
        color: #fff;
    }

.btn-shopping {
    border: 1px solid #E44436;
    color: #E44436;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    margin-right: 20px;
}

    .btn-shopping:hover, .btn-shopping:focus {
        background: #E44436;
        color: white;
    }

.btn-payhome {
    border: 1px solid #6CC751;
    color: #6CC751;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    margin-right: 10px;
}

    .btn-payhome:hover, .btn-payhome:focus {
        background: #6CC751;
        color: white;
    }

.btn-details {
    border: 1px solid #37AEF3;
    color: #37AEF3;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    margin-right: 10px;
}

    .btn-details:hover, .btn-details:focus {
        background: #37AEF3;
        color: white;
    }

.details-order-rigth {
    text-align: right;
}

.btn-none:hover, .btn-none:focus {
    cursor: default;
}

@media(max-width: 1000px) {
    .details-order-rigth {
        text-align: left;
        margin-top: 50px;
    }
}

.order-sumary-title {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #455A64;
    text-align: left;
}

.order-sumary-label {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #546E7A;
    text-align: left;
}

.order-sumary-total {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #546E7A;
    text-align: left;
}

.order-sumary-section {
    background-color: #ECEFF1;
    padding: 32px;
    margin-top: 115px;
    margin-left: 50px;
}

.order-sumary-attributes {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #455A64;
}

.order-sumary-vendor {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #546E7A;
    margin-top: 8px;
}

.line-div {
    width: 100%;
    border: 1px solid #90A4AE;
    margin-bottom: 20px;
    margin-top: 20px;
}

.order-sumary-number {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
    text-align: right;
    color: #455A64;
}

.order-sumary-number-total {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: right;
    color: #E44436;
}

.order-sumary-number-total-label {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #546E7A;
    margin-top: 70px;
}

.pdf-invoice-button {
    
    font-style: normal;
    font-weight: bold;
    margin-top: 100px !important;
    font-size: 18px;
    line-height: 24px;
    background-color: white !important;
    color: #e44436 !important;
    border: 1px solid #e44436 !important;
    text-align: center;
}

.btn-infos {
    background: white;
    color: #37AEF3;
    
    font-weight: bold;
    margin-top: 5%;
    margin-left: -25px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #37AEF3 !important;
    text-align: center;
}

.subtotal-order-item {
    margin-top: 60%;
}

.btn-none:hover, .btn-none:focus {
    cursor: default;
}

@media(max-width: 1000px) {
    .subtotal-order-item {
        margin-top: 5%;
    }

    .btn {
        width: 100%;
    }

    .btn-orden {
        width: 50% !important;
    }

    .pdf-invoice-button {
        width: 100%;
    }
}

.delivery-option {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center !important;
    color: #455A64;
}

.shipping-options {
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 18px;
    align-items: center;
    color: #455A64;
}

.shipping-options-legend {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #90A4AE;
    margin-left: 27px;
    width: 327px;
    float: left;
    margin-bottom: 40px;
}

#ph-title {
    background: white !important;
}