@media (min-width: 801px) {
    .menu-side-left {
        display: none !important;
    }

    #masterwrapperdiv {
        width: 100%;
        opacity: 1;
        background-color: transparent !important;
        filter: none !important;
    }

    .btn-addtocart-card-desktop,
    .btn-addtowish-card-desktop {
        display: initial;
    }

    .btn-addtocart-card-mobile,
    .btn-addtowish-card-mobile {
        display: none !important;
    }

    .remember-zone-mobile {
        display: none !important;
    }

    .btn-addtocart-card-mobile,
    .btn-addtowish-card-mobile {
        display: none;
    }

    .registration-page-version-desktop {
        display: block !important;
    }

    .registration-page-version-mobile {
        display: none !important;
    }

}

@media (max-width: 900px) {
    .price {
        font-size: 12px !important;
    }
}

@media (max-width: 750px) {
    .price {
        font-size: 40px !important;
    }
}

@media (max-width: 800px) {

    #div-cart-version-mobile {
        display: block !important;
    }

    .admin-header-links {
        text-align: center;
        background-color: #000;
        padding: 10px;
    }

    .admin-header-links a {
        color: #FFF;
    }

    .btn-addtocart-card-desktop,
    .btn-addtowish-card-desktop {
        display: none;
    }

    .btn-addtocart-card-mobile,
    .btn-addtowish-card-mobile {
        display: initial !important;
    }

    #footer-mobile, #newsletter-mobile, #navbar {
        display: block !important;
    }

    #newsletter-desktop, .footer, #header-desktop, .MenuPpl, .div-btn-detail-desktop {
        display: none;
    }

    #accordionFooter > .card {
        overflow: hidden !important;
        background-color: #4a4a4a !important;
        border-radius: 0px !important;
    }

    #accordionFooter .btn.btn-link.btn-block.text-left {
        color: #fff !important;
        padding-left: 0px;
    }

    #accordionFooter .btn.focus, #accordionFooter .btn:focus {
        box-shadow: none !important;
    }

    #accordionFooter .btn.focus, #accordionFooter .btn:hover {
        text-decoration: none !important;
    }

    #accordionFooter .card div h2 {
        border-bottom: 1px solid #FFF;
    }

    #accordionFooter .card .card-body ul li a,
    #accordionFooter .card .card-body ul li div {
        color: #FFFFFF;
    }

    .nn- {
        color: #FFF;
    }

    .card-body {
        padding-left: 30px;
    }

    #we-ship-footer {
        background-color: #263238;
        padding: 25px;
        margin: 25px 0px;
    }

    .space-content-section-footer {
        margin-bottom: 10px;
    }

    .btn-contactus {
        background: #E44436;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 8px 16px;
        
        font-style: normal;
        font-weight: bold;
        font-size: 0.999rem;
        line-height: 1.123rem;
        text-transform: capitalize;
        color: #ECEFF1;
    }

    .div-buttom a:hover {
        color: #FFFFFF;
    }

    .div-buttom {
        padding: 10px 0 0 0;
    }

    #newsletter-footer {
        background-color: #eee;
        padding: 25px;
    }

    #newsletter-subscribe-button {
        background-color: #37aef3;
        border-radius: 0 8px 8px 0 !important;
        font-style: normal;
        font-weight: bold;
        color: #fff;
        border: 2px solid #37aef3;
        width: 100%;
    }

    .text-newsletter {
        width: 100% !important;
        border: 0px;
        height: 100%;
        padding-left: 10px;
        font-size: 12px;
        color: #685656;
    }

    .title-newsletter {
        font-size: 10px;
        color: #685656;
    }

    .color-text-white {
        color: #FFFFFF;
    }

    .color-text-2 {
        color: #455A64;
    }

    #creditcard-footer {
        background-color: #eee !important;
        font-size: 12px;
        color: #685656;
    }

    /******************header start**********************/

    #navbar {
        background-color: #e44436 !important;
    }

        #navbar .navbar-toggler {
            border-color: transparent !important;
        }

    #img-nav-mobile {
        position: relative;
        top: 0px;
        width: 45px;
    }

    .icon-nav-option {
        position: relative;
        top: 14px;
        margin-left: 20px;
    }

    .nav-hamburguer {
        font-size: 30px;
        color: #FFF;
        font-weight: 200;
    }

    .navbar-toggler {
        padding: .25rem .50rem .25rem 0rem;
    }

    .icon-glass-nav {
        border-radius: 0px 5px 5px 0px !important;
        background-color: #FFF !important;
        border: 0px !important;
    }

    .menu-side-left {
        background-color: transparent;
        color: #000;
        width: 100%;
        position: fixed !important;
        top: 0px;
        left: 0px;
        z-index: 100;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #img-nav-mobile-content {
        height: 30px;
        width: 30px;
    }

    #firts-item-nav-mobile {
        padding: 15px !important;
        border-bottom: 1px solid #b0bec5;
        width: 90%;
    }

    #firts-item-nav-mobile a, #second-item-nav-mobile div a, #third-item-nav-mobile div a {
        color: #455A64;
        text-decoration: none !important;
    }

    #second-item-nav-mobile {
        padding: 20px 20px 0px 20px !important;
    }

    #third-item-nav-mobile {
        padding: 20px 20px 0 20px !important;
        width: 90%;
    }

    .general-item-mav-mobile {
        border-bottom: 1px solid #b0bec5;
        padding-bottom: 15px;
    }

    .general-item-mav-mobile-right {
        border-bottom: 1px solid #b0bec5;
    }

    .content-submenu-nav-mobile {
        padding: 0px 0px 0px 50px;
    }

    .subtitle_3 {
        padding: 10px 0px;
        position: relative;
    }

    .subtitle_3 a {
        border-bottom: 1px solid #b0bec5;
        padding-bottom: 5px;
    }

    #end-item-nav-mobile {
        padding: 20px 20px 0 20px !important;
        width: 90%;
        height: 100%;
    }

    .nav-hamburguer {
        font-size: 30px !important;
    }
    /******************header end**********************/


    /*********************Home start*******************/

    .master-wrapper-page,
    .master-wrapper-content,
    #navbar,
    #masterwrapperdiv,
    #footer-mobile,
    .page.home-page,
    .page-body,
    #rowproductshomepage {
        width: 100%;
    }

    .h-75.ls-is-cached.lazyloaded {
        height: 25% !important;
    }

    .row {
        margin-left: 0px !important;
    }

    .navbar {
        padding: 5px 0px 10px 0px !important;
    }

    #form-search-nav-mobile {
        width: 100%;
    }

    .slider-wrapper {
        display: block !important;
    }

    #masterwrapperdiv {
        padding: 0px !important;
    }

    #rowproductshomepage {
        margin-top: 0px !important;
    }

    #zonerowproductshomepage {
        margin-top: 15px !important;
        padding: 10px;
    }

    .product-item {
        border: 1px solid #b0bec5;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }

    .product-title a {
        color: #444;
    }

    .product-title-breadcrumb a {
        color: #90A4AE !important;
    }

    #HomeProductFisrt {
        padding: 0 15px 15px 15px;
        height: 100% !important;
    }

    #HomeProductSecond {
        margin-bottom: 15px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #HomeProductthird {
        padding-right: 0px;
        padding-left: 0px;
    }

    #HomeProductFourth {
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #HomeProductfifth {
        padding-right: 0px;
        padding-left: 0px;
    }

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .img-product-home-mobile {
        height: 180px;
    }

    .titlesproduct {
        width: 100%;
        position: initial !important;
    }

    .img-home-v-mobile {
        height: auto !important;
    }

    .btn-viewmore {
        background: #e44436;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 8px 16px;
        
        font-style: normal;
        font-weight: bold;
        font-size: .999rem;
        line-height: 1.123rem;
        text-transform: capitalize;
        color: #eceff1;
        width: 100% !important;
        position: relative;
        display: block;
        text-align: center;
    }

    .btn-viewmore:hover {
        color: #eceff1;
    }

    .price.actual-price.ml-2 {
        color: #E44436;
    }

    .title-homepage-productos {
        color: #546e7a;
    }

    .product-item-rounded {
        border: 1px solid #b0bec5;
        border-radius: 5px;
    }

    .img-version-mobile {
        height: 250px;
    }

    .message-error {
        text-align: center;
    }

    .message-error ul {
        padding: 0px;
    }

    .product-titlev2 a {
        font-size: 20px;
        color: #546e7a !important;
    }

    .price {
        color: #E44436 !important;
    }

    .title-best-seller {
        padding: 0px 30px;
    }

    #btn-search-mobile {
        border: 0px;
        box-shadow: none !important;
        padding: 0px;
        width: 100%;
        border-radius: 0px 5px 5px 0px;
    }

    .btn-home-first-mobile {
        border-radius: 5px;
        cursor: pointer;
        padding: 12px;
        background-color: #eee;
        height: 45px;
        width: 45px;
        border: 1px solid #b0bec5;
        margin-left: 5px !important;
    }

    .carousel-control-next {
        left: 35% !important;
    }

    .carousel-control-prev {
        left: 45% !important;
    }

    .carousel-control-next img {
        height: 25px !important;
        width: 25px !important;
    }

    .carousel-control-prev img {
        height: 25px !important;
        width: 25px !important;
    }
    /*********************Home end*******************/

    /*********************Add To Cart and cart summary Start*****************/
    #tableShoppingCart, #div-cart-title-version-desktop {
        display: none;
    }

    .title-cart-version-mobile {
        background-color: #eee;
        padding: 25px !important;
    }

    .title-cart-zone-version-mobile {
        margin: 0px !important;
    }

    .cart-zone-nitems-mobile {
        padding: 10px;
        font-size: 20px;
        color: #607D8B;
    }

    .cart-zone-nitems-title-mobile {
        border-bottom: 1px solid #b0bec5;
        padding: 10px 0px !important;
    }

    .cart-zone-items-mobile {
        padding: 10px;
        font-size: 20px;
        background-color: #eee;
    }

    .cart-items-title-mobile {
        color: #455A64;
        font-weight: bold;
        line-height: 20px !important;
    }

    .cart-items-quantity-mobile {
        color: #607D8B;
        font-weight: normal !important;
        font-size: 15px;
    }

    .cart-items-total-mobile {
        color: #E44436;
        text-align: right;
    }

    .cart-items-qty-btnminuplus-mobile {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }

    .cart-items-qty-input-mobile {
        width: 43px;
        height: 40px;
        border: 1px solid #b0bec5;
        padding: 2px;
        border-radius: 5px;
        text-align: center;
        margin-left:11px;
    }

    .cart-items-trash-mobile {
        padding: 5px;
        border: 1px solid #b0bec5;
        width: 40px;
    }

    .cart-items-trash-mobile i {
        color: #b0bec5;
    }

    .item-cart-zone {
        margin-bottom: 35px;
    }

    .order-summary-content {
        margin: 0px !important;
    }

    .cart-discount {
        margin-top: 0px !important;
    }

    .cart-collaterals {
        width: 100% !important;
        margin-top: 0px !important;
    }

    #discountcouponcode {
        height: 35px;
        border: 1px solid #eee;
        width: 65%;
    }

    .clearshopping-mobile {
        margin: 0px !important;
    }

    .cart-summary-footer .totals {
        width: 100% !important;
    }

    .cart-total-right {
        text-align: right;
    }

    .cart-total {
        width: 100%;
    }

    .cart-total-left label,
    .coupon-box .title strong {
        font-weight: bold;
        color: #455a64;
    }

    hr {
        border-top: 1px solid #b0bec5 !important;
    }

    .checkout-buttons {
        margin-top: 40px;
    }

    .checkout-buttons button {
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    .checkout-buttons #checkout {
        color: #FFF;
    }

    #divRelatedProductsBox {
        margin-top: 0px !important;
    }

    .title-related-products-product-box {
        font-weight: bold;
        color: #455a64;
        font-size: 25px;
    }

    #carousel-related-products .carousel-item .product-item-rounded .description {
        height: auto !important;
        display: none !important;
    }

    .product-title-product-box {
        font-size: 20px;
        color: #546e7a !important;
    }

    .img-box-general-mobile {
        height: 100% !important;
    }

    .cart-zone-nitems-title-mobile a span {
        color: #607d8b;
    }

    .modal-body {
        text-align: center;
    }

    .title-general-version-mobile {
        background-color: #eee;
        padding: 25px !important;
    }

    .product-title-product-box a {
        font-size: 20px;
        color: #546e7a !important;
    }

    .product-item-rounded .description {
        display: none;
    }

    #divRelatedProductsBox .product-item-rounded .add-info {
        margin-top: 20px;
    }

    .remove-discount-button {
        background: #fff url('/Themes/DefaultClean/Content/images/close.png') center no-repeat;
        border: 1px solid #E44436;
        width: 25px;
        height: 25px;
    }

    .current-code {
        margin-top: 10px;
    }

    .zone-item-category-mobile {
        display: block !important;
        margin-bottom: 15px;
    }

    #divRelatedProductsBox .row div div div {
        margin-bottom: 10px;
    }

    .item-category-mobile {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        height: 200px;
    }

    .item-category-mobile a {
        background: #eceff1;
        color: #e44436;
        border: 0px;
        height: 70px;
        top: 25%;
        position: relative;
    }

    .zone-item-category-desktop {
        display: none !important;
    }

    #ClearShoppingCart {
        cursor: pointer;
    }

    /*********************Add To Cart and cart summary End*****************/
    /******************Checkout start*****************/
    #checkout-steps {
        list-style: none !important;
        padding-left: 0px;
    }

    #checkout-steps #opc-ordersummary {
        margin-top: 0px !important;
    }

    #checkout-steps .zone-action-cart-mobile,
    #ClearShoppingCart {
        display: none;
    }

    #btn-goback-mobile {
        display: initial;
    }

    .button-continue-checkuot {
        font-size: 0.909rem !important;
        text-transform: capitalize;
        width: 100% !important;
        background: #37AEF3 !important;
        border: 1.18421px solid #FFFFFF !important;
        box-sizing: border-box !important;
        border-radius: 4.73684px !important;
        color: #FFFFFF !important;
        padding: 9.47368px 18.9474px !important;
        margin: 0px !important;
    }

    .tab-section {
        padding: 0px !important;
        margin-bottom: 20px;
    }

    .tab-section .step-title {
        padding: 5px !important;
        height: auto !important;
        font-size: 15px !important;
        border-bottom: 1px solid #b0bec5;
    }

    .opc .active .step-title {
        margin-bottom: 20px;
    }

    .address-select {
        padding: 10px !important;
        background-color: #FFF !important;
        border: 1px solid #b0bec5 !important;
        width: 100% !important;
    }

    #edit-address-button, #delete-address-button, #save-address-button {
        margin-bottom: 20px !important;
    }

    .containerRadio {
        margin-top: 18px;
    }

    #send-request-div {
        margin-left: 32px;
    }

    #payment-method-block {
        list-style: none !important;
        padding: 0px;
    }

    .payment-details label {
        margin-left: 10px;
    }

    .payment-details .payment-description, .payment-logo {
        display: none;
    }

    .payment-details {
        padding: 5px 5px 0px 10px;
        border: 1px solid #b0bec5;
        border-radius: 5px;
    }

    #opc-payment_method, #checkout-step-payment-info, #opc-ordersummary {
        padding-bottom: 15px !important;
    }

    .paywithcard div div div div {
        padding: 0px !important;
    }

    .paywithcard div div div div input {
        Width: 100% !important;
        padding: 5px !important;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
    }

    .paywithcard div div div div select {
        padding: 5px;
        background-color: #FFF;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
    }

    .pay-target {
        display: none !important;
    }

    #field-validation-error {
        color: red !important;
    }

    .PayWithCardGuest {
        width: 100% !important;
    }

    .button-back-checkout {
        font-size: 0.909rem !important;
        text-transform: capitalize;
        width: 100% !important;
        background: #E44436 !important;
        border: 1.18421px solid #FFFFFF !important;
        box-sizing: border-box !important;
        border-radius: 4.73684px !important;
        color: #FFFFFF !important;
        padding: 9.47368px 18.9474px !important;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    #checkout-step-confirm-order #div-cart-version-mobile {
        display: none !important;
    }

    #ShippingRateComputationMethodSystemName-div {
        padding-left: 70px !important;
    }

    #checkout-step-confirm-order {
        padding-bottom: 20px !important;
    }

    .pay-target {
        display: block !important;
        margin-top: 15px;
        width: 100% !important;
    }

    .col-md-8.input-customer,
    .input-customer div div,
    .text-payment-info div {
        padding: 0px !important;
    }

    #AddNewCard {
        float: left;
        top: 5px;
        position: relative;
        margin-right: 10px;
    }

    .completed-thank-u {
        text-align: center !important;
    }

    .details .details-link {
        text-align: center !important;
    }

    .order-completed-continue-button {
        width: 100%;
        margin-top: 20px;
        color: #FFF;
        background-color: #37aef3;
        border: 0px !important;
        height: 40px;
        border-radius: 5px;
    }
    /******************Checkout end*****************/


    /*******************Login - Register Start*************************/

    .baseButtonRoundedBlue {
        border: 0px !important;
        background: #37AEF3 !important;
        box-sizing: border-box !important;
        border-radius: 8px !important;
        padding: 8px 16px !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 0.999rem !important;
        line-height: 1.123rem !important;
        text-transform: capitalize !important;
        color: #ECEFF1 !important;
        margin-top: 15px;
    }

    .label-rememberme {
        text-align: left !important;
        margin-top: 0px !important;
    }

    #frmLogin #Email,
    #frmLogin #password,
    #validateEmail #Email {
        border-radius: 5px !important;
        border: 1px solid #b0bec5 !important;
        height: 40px !important;
        padding: 10px !important;
        color: #455a64 !important;
    }

    #c3 input:checked ~ .checkmark {
        background-color: #e44436 !important;
    }

    .container {
        display: block !important;
        position: relative !important;
        padding-left: 35px !important;
        margin-bottom: 12px !important;
        cursor: pointer !important;
        font-size: 22px !important;
    }

    .container input {
        position: absolute !important;
        opacity: 0 !important;
        cursor: pointer !important;
        height: 0 !important;
        width: 0 !important;
    }

    .checkmark {
        position: absolute !important;
        top: 0 !important;
        left: 0;
        height: 25px !important;
        width: 25px !important;
        background-color: #eee !important;
    }

    .container:hover input ~ .checkmark {
        background-color: #ccc !important;
    }

    .checkmark:after {
        content: "" !important;
        position: absolute !important;
        display: none !important;
    }

    .container input:checked ~ .checkmark:after {
        display: block !important;
    }

    .container .checkmark:after {
        left: 9px !important;
        top: 5px !important;
        width: 5px !important;
        height: 10px !important;
        border: solid white !important;
        border-width: 0 3px 3px 0 !important;
        -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
    }

    .zone-rememberme-mobile {
        margin-top: 10px !important;
    }

    .remember-zone-mobile {
        display: block !important;
    }

    .remember-zone-desktop {
        display: none !important;
    }

    .btn-login-mobile {
        margin-top: 0px !important;
    }

    #validateEmail #Email {
        width: 100% !important;
    }

    #validateEmail {
        width: 100% !important;
        padding: 35px 0px;
    }

    #register-button {
        width: 100% !important;
    }

    .registration-page-version-mobile {
        display: block !important;
    }

    .registration-page-version-desktop {
        display: none !important;
    }

    .input-general-version-mobile {
        border-radius: 5px !important;
        border: 1px solid #b0bec5 !important;
        height: 40px !important;
        padding: 10px !important;
        color: #455a64 !important;
        width: 100% !important;
    }

    .registration-page-subtitle-password {
        margin-bottom: 25px !important;
    }

    #RegistrationpageWeb .form-fields div div .inputs input {
        margin-bottom: 25px !important;
    }

    .registration-result-page .page-body {
        padding: 10px !important;
    }

    .registration-result-page .page-body .result {
        text-align: center !important;
        margin: 20px 0px !important;
    }

    #validateEmail,
    .registration-page-version-mobile {
        padding: 25px !important;
    }

    #CompanyInfo div select {
        height: 40px !important;
        background-color: #fff !important;
        border: 1px solid #b0bec5 !important;
        padding: 5px !important;
        color: #455a64 !important;
        width: 100% !important;
        border-radius: 5px !important;
    }

    /*******************Login - Register End*************************/
    /*******************Menu account Start*************************/
    .menu-side-left-account {
        background-color: transparent;
        color: #000 !important;
        width: 100% !important;
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        z-index: 100 !important;
        height: 100% !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    /*******************Menu account End*************************/

    .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
        width: 100% !important;
        height: 100% !important;
        content: '';
        position: absolute !important;
        top: 0 !important;
        bottom: 0;
        left: 0 !important;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }

    #social-network-footer {
        background-color: #eee;
        padding: 0px;
    }

    #social-network-version-mobile {
        border-top: 1px solid #b0bec5;
        padding: 15px;
    }

    #social-network-version-mobile a  {
        margin-right: 30px !important;
    }

    #social-network-version-mobile a .nn-facebook {
        color: #3b5998 !important;
    }

    #social-network-version-mobile a .nn-twitter {
        color: #00acee !important;
    }

    #social-network-version-mobile a .nn-instagram {
        color: #E44436 !important;
    }
    
    .wop {
        padding: 0px !important;
    }

    .ww95 {
        width: 90% !important;
    }

    .ww100 {
        width: 100% !important;
    }

    .ww110 {
        width: 110% !important;
    }

    .bg-white-nav {
        background-color: #FFF;
    }

    .wopr {
        padding-right: 0px;
    }

    .f-right {
        float: right;
    }

    #productshomepageMobile {
        display: block;
    }

    #rowproductshomepage {
        display: none !important;
    }

    .bar-notification {
        display: none !important;
    }

    .text-company-home-version-mobile {
        text-align: center;
        display: block !important;
        padding: 5px !important;
        color: #FFF !important;
    }

    .select-company-home-version-mobile {
        width: 100% !important;
        height: 35px !important;
        background-color: #FFF;
        border: 1px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .field-icon-login-password {
        top: 45px !important;
        color: gray;
    }

    .password-recovery-page .tooltip{
        text-align: center !important;
    }

    .password-recovery-page div form div div div div div{
        text-align: center !important;
        padding-bottom: 10px !important;
    }

    .password-recovery-page div form div div div div div input{
        border-radius: 5px !important;
        border: 1px solid #b0bec5 !important;
        height: 40px !important;
        padding: 10px !important;
        color: #455a64 !important;
    }

    .password-recovery-page div form .buttons input {
        width: 100% !important;
    }

    .password-recovery-page div form div {
    }

    .password-recovery-page div form div .form-fields{
        top: 55% !important;
    }

    .password-recovery-page div form .buttons {
        padding: 0px 25px !important;
    }

    .shippingBilling div {
        display: none !important;
    }

    #shipping-addresses-form .shippingBilling {
        display: none !important;
    }

    #opc-billing .shippingBilling {
        display: none !important;
    }

    .displayNoneGuestPayment {
        display: none !important;
    }

    #opc-shipping {
        padding-bottom: 15px !important;
    }

    .order-number {
        text-decoration-line: none !important;
    }

    .tag-list-mobile {
        display: block !important;
    }

    .tag-list-desktop {
        display: none !important;
    }


    .section-list-products-search-mobile {
        display: block !important;
    }

    .section-list-products-search-desktop {
        display: none !important;
    }

    #divFiltersCatalogSelectors .filter_Search .filtertext,
    .img-viewmode-mobile {
        display: none !important;
    }

    .text-breadcrumb, .text-breadcrumb a {
        margin-bottom: 0px !important;
        text-transform: uppercase;
        color: #546E7A;
    }

    .text-breadcrumb div span strong {
        font-weight: normal !important;
    }

    .product-name {
        margin: 0px !important;
        width: 100% !important;
        padding: 15px;
        color: #455a64;
    }

    .padding-breadcrumb-general-mobile {
        padding: 10px !important;
    }

    .padding-breadcrumb-general-mobile div div div h1 {
        margin-top: 15px !important;
        color: #212529 !important;
    }

    .filters-zone-mobile {
        display: block !important
    }

    .border-bottom-filters-zone-mobile {
        border-bottom: 1px solid #b0bec5 !important;
    }

    #divFiltersCatalogSelectors .filter_Category {
        display: none !important;
    }

    #divContainerRealFilters {
        display: none;
    }

    #accordionCategories .card {
        background-color: #e44436 !important;
        color: #FFF !important;
        border-radius: 0px !important;
        border: 0px !important;
    }

    #accordionCategories .card #headingOne div div h5 {
        color: #FFF !important;
        font-weight: bold;
        text-decoration: none !important;
        cursor: pointer;
    }

    #accordionCategories .card #headingOne {
        padding: 10px !important;
        border-bottom: 1px solid #FFF;
    }

    #accordionCategories .card div div div .card {
        background-color: #b0bec5 !important;
        color: #546e7a !important;
    }

    #accordionCategories .card div div div .card #headingOne div div h5 {
        color: #546e7a !important;
        cursor: pointer;
        text-decoration: none !important;
    }

    #accordionCategories .card div div div .card #headingOne .row {
        margin-left: 25px !important;
    }

    #accordionCategories .card div div div .card div .card-body {
        background-color: #eee !important;
        color: #eee !important;
        padding: 5px !important;
    }

    #accordionCategories .card div div div .card div .card-body div div label a {
        color: #546e7a !important;
        margin-left: 30px;
    }

    .block-category-navigation div ul {
        padding-left: 0px !important;
    }

    .block-category-navigation div ul li a {
        color: #546e7a !important;
    }

    .block-category-navigation {
        border-bottom: 1px solid #b0bec5 !important;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .div-zone-filters-popup {
        background-color: #fff;
        width: 100%;
        z-index: 1;
        scroll-behavior: auto;
        top: 0;
        bottom: 0;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        left: 0px !important;
    }

    .priceRangeFilterPanel7Spikes .title .title-filter-zone-desktop {
        display: none !important;
    }

    .nopAjaxFilters7Spikes .filtersPanel .priceRangeFilterPanel7Spikes {
        border-bottom: 1px solid #b0bec5 !important;
    }

    .block-category-navigation .title strong {
        cursor: pointer;
    }

    .nopAjaxFilters7Spikes .block .title a.toggleControl {
        font-size: 1rem !important;
        padding-left: 0px !important;
        font-weight: bold !important;
    }


    .block-popular-tags .listbox .tags ul {
        padding-left: 0px !important;
    }

    .block-popular-tags .listbox .tags ul li {
        list-style: none !important;
    }

    .block-popular-tags {
        border-bottom: 1px solid #b0bec5 !important;
        margin-bottom: 25px !important;
        padding-bottom: 10px !important;
    }

    .btn-filters-version-mobile {
        margin-bottom: 30px !important;
    }

    .product-selectors select {
        margin: 0px 2em 0px 0px;
        background: url("../images/arrow-down-sign-to-navigate.png") no-repeat right #F2F2F2;
        border: 1px solid #F2F2F2;
        width: 100%;
        height: 40px;
        overflow: hidden;
        -webkit-appearance: none;
    }

    .product-sorting, .product-page-size, .search-text {
        display: none !important;
    }

    .product-sorting-version-mobile div {
        font-size: 14px !important;
        text-transform: uppercase !important;
        padding: 5px !important;
    }

    .display-sort-zone-mobile {
        margin-bottom: 30px !important;
    }

    .img-category-version-mobile {
        height: 150px !important;
    }

    .div-img-category-version-mobile {
        height: 10rem !important;
    }

    .div-category-version-mobile div .product-title-breadcrumb {
        display: none !important;
    }

    .woplr {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .div-category-version-mobile div h2 {
        padding: 0px 10px !important;
        font-weight: bold !important;
    }

    .div-category-version-mobile div h2 a {
        color: #212529 !important;
    }

    .div-category-version-mobile div h2 a {
        color: #212529 !important;
    }

    .div-category-version-mobile div .description {
        display: block !important;
        padding: 0px 10px !important;
        margin-top: 0px !important;
    }

    .div-category-version-mobile div .description a {
        color: #546e7a !important;
    }

    .img-title-description-version-mobile {
        height: auto !important;
    }

    .div-category-version-mobile {
        padding-bottom: 0px !important;
    }

    .div-category-price-version-mobile .prices {
        padding-left: 10px !important;
    }

    .btn-category-version-mobile {
        width: 40px !important;
        padding: 10px !important;
        background-color: #eee !important;
        height: 45px !important;
        border: 1px solid #b0bec5 !important;
        margin-left: 5px !important;
    }

    .pager ul {
        list-style: none !important;
    }

    .pager ul li {
        position: relative;
        float: left;
        margin: 0px 5px !important;
    }

    .pager ul li a {
        color: #546e7a !important;
    }

    .current-page {
        color: #E44436 !important;
        font-weight: bold !important;
    }

    .div-product-list-search-version-mobile {
        display: block !important;
    }

    .tag_color_0 {
        background-color: #922b21 !important;
        color: #FFFFFF !important;
    }

    .tag_color_1 {
        background-color: #76448a !important;
        color: #FFFFFF !important;
    }

    .tag_color_2 {
        background-color: #9c640c !important;
        color: #FFFFFF !important;
    }

    .tag_color_3 {
        background-color: #212f3c !important;
        color: #FFFFFF !important;
    }

    .tag_color_4 {
        background-color: #4d5656 !important;
        color: #FFFFFF !important;
    }

    .tag_color_5 {
        background-color: #7e5109 !important;
        color: #FFFFFF !important;
    }

    .tag_color_6 {
        background-color: #0b5345 !important;
        color: #FFFFFF !important;
    }

    .tag_color_7 {
        background-color: #7d6608 !important;
        color: #FFFFFF !important;
    }

    .tag_color_8 {
        background-color: #1b4f72 !important;
        color: #FFFFFF !important;
    }

    .tag_color_9 {
        background-color: #f7dc6f !important;
        color: #000000 !important;
    }

    .tag_color_10 {
        background-color: #d2b4de !important;
        color: #000000 !important;
    }

    .tags tag-list a {
        margin-bottom: 5px !important;
    }

    .tags .tag-list-mobile a {
        padding: 5px !important;
        border-radius: 15px !important;
    }

    .tag-list-mobile {
        padding-bottom: 15px !important;
    }

    .block-popular-tags .title strong {
        cursor: pointer !important;
    }

    .filter-table {
        width: 100% !important;
    }

    .title-filter-zone-mobile {
        display: block !important;
        padding-bottom: 0px !important;
    }

    .product-viewmode {
        display: none !important;
    }

    .containerRadio input:checked ~ .checkmark {
        background-color: #37AEF3 !important;
        border: 4px solid #eee !important;
    }

    .additionalData {
        width: 100% !important;
        margin: 20px 0px !important;
    }

    .RequestFreighTitle, .RequestFreighSubTitle {
        font-size: 12px !important;
    }

    #SendEmailButton {
        margin-bottom: 10px !important;
    }

    .shipping-method-label {
        font-size: 12px !important;
        margin: 0px !important;
    }

    /****************************** My Orders Start ***************************************/
    .old-price {
        font-size: 14px !important;
        color: #212529 !important;
        text-decoration: line-through !important;
    }

    #filter-price-version-desktop {
        display: none !important;
    }

    #divContainerRealContainer, #rowGeneralColumnsTwo {
        padding: 0px !important;
    }

    .card-order-title {
        font-weight: bold;
    }

    .orders-version-desktop {
        display: none !important;
    }

    .orders-version-mobile {
        display: block !important;
        background-color: #eee !important;
    }

    .orders-version-mobile-table {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px !important;
    }

    .orders-version-mobile-table .first {
        padding: 10px 10px 0px 10px !important;
        border-radius: 10px 10px 0px 0px;
        background-color: #eee !important;
    }

    .orders-version-mobile-table .item {
        padding: 10px !important;
        background-color: #eee !important;
    }

    .orders-version-mobile-table .zone_btn {
        padding: 25px 10px !important;
        background: rgba(245,245,245,.7) !important;
    }

    .card-order-title, .card-order-text3 {
        margin: 0px !important;
    }

    .orders-version-mobile-table .order-price {
        color: #e44436 !important;
        font-weight: bold !important;
    }

    .orders-version-mobile-table .left {
        border-left: 1px solid #212529;
    }

    .order-status .btn-status, .order-status .btn-payment {
        font-size: 13px;
    }

    .orders-version-mobile-table .zone_btn_actions {
        padding: 5px 10px !important;
        background: rgba(245,245,245,.7) !important;
    }

    .zone_btn_actions a i {
        color: #E44436 !important;
    }

    .zone_btn_actions a .nn-car {
        color: #E44436 !important;
    }

    .zone_btn_actions a .nn-car:hover {
        color: #FFF !important;
    }

    .zone_btn_actions a:hover {
        background: #E44436 !important;
        color: #FFF !important;
    }

    #customerOrderForm .row.page-sort {
        padding: 0px 10px !important;
        margin: 50px 0px !important;
    }

    /****************************** My Orders End ***************************************/

    /****************************** About us start ***************************************/
    #ph-topic .page-title {
        padding: 20px !important;
        background-color: #eee !important;
        margin-bottom: 20px !important;
        color: #212529 !important;
    }

        #ph-topic .page-title h1 {
            color: #f00 !important;
        }
    /****************************** About us end ***************************************/

    /****************************** Policy start ***************************************/

    #ph-topic .colorGeneralBackgroundGray {
        background-color: #eee !important;
        margin: 0px 25px !important;
        border-radius: 10px;
    }
    /****************************** Policy end ***************************************/
    /****************************** Order detail start ***************************************/

    .number-order-section-mobile {
        text-decoration: underline !important;
        text-transform: capitalize !important;
    }

    .order-detail-area-mobile, .title-area-mobile, .list-items-order-detail-mobile {
        display: block !important;
    }

    .order-detail-area-desktop, .list-items-order-detail-desktop {
        display: none !important;
    }

    .order-detail-area-mobile .TextOrder {
        color: #212529 !important;
        font-size: 25px !important;
        margin-bottom: 0px !important;
        font-weight: bold !important;
    }

    .title-area-mobile {
        color: #546e7a !important;
        margin-top: 25px !important;
        font-size: 15px !important;
        font-weight: unset;
    }

    .order-page-detail-area-mobile .TextOrder .nn- {
        color: #000 !important;
        position: relative;
        top: 5px !important;
        margin-right: 10px !important;
    }

    .order-page-detail-area-mobile .order-summary {
        background: rgba(245,245,245,.7) !important;
        width: 100% !important;
        margin-bottom: 35px !important;
    }

    .pdf-invoice-button-order-detail-mobile {
        margin-top: 15px !important;
        width: 100% !important;
        display: block !important;
        padding: 10px !important;
        border-radius: 5px !important;
        margin-bottom: 35px !important;
    }

    /****************************** Order detail end ***************************************/

    /****************************** Contact us start ***************************************/
    .colorGeneralBackgroundGray h1 {
        color: #212529 !important;
        background-color: #eee !important;
    }

    .contact-page-version-mobile,
    .shared-contactus-page-mobile {
        display: block !important;
    }

    .shared-contactus-page-mobile {
        display: block !important;
        background-color: #eee !important;
        border: 0px !important;
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }

    .contact-page-version-desktop {
        display: none !important;
    }

    .contact-page-version-mobile input,
    .contact-page-version-mobile textarea {
        width: 100% !important;
        padding: 5px !important;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
    }

    .contact-page-version-mobile .inputs.form-fields-inputs {
        margin-bottom: 20px !important;
    }

    .contact-page-version-mobile .baseButtonRoundedBlue {
        border: 0px !important;
        padding: 10px !important;
    }

    .space-contact {
        color: #212529 !important;
        background-color: #eee !important;
        margin: 15px;
        border-radius: 10px !important;
        padding: 25px 15px !important;
    }

    |
    .shared-contactus-page-mobile #social-network-version-mobile {
        background-color: #eee !important;
        border: 0px !important;
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }

    .shared-contactus-page-mobile #social-network-version-mobile {
        border-top: 0px !important;
    }


    .shared-contactus-page-mobile {
        display: block !important;
        background-color: #eee !important;
        border: 0px !important;
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }

    .space-contact .contact-us-subtitle {
        font-weight: bold !important;
        color: #212529 !important;
    }

    .space-contact .contact-us-subtitle-inner a,
    .space-contact .contact-us-subtitle-inner i {
        color: #212529 !important;
    }

    /****************************** Contact us end ***************************************/


    #order-review-checkout-area-mobile {
        display: block !important;
    }

    .topic-page {
        text-align: left !important;
    }

    /****************************** MyAccount start ***************************************/

    .title-myaccount {
        background-color: #eee !important;
    }

    .title-myaccount h1 {
        padding: 25px !important;
        color: #212529 !important;
    }

    .myaccount-page-section-mobile .subtitle-company-user-zone,
    .myaccount-page-section-mobile .subtitle-payment-methods {
        color: #212529 !important;
        font-size: 20px !important;
        font-weight: bold !important;
        padding: 10px !important;
        margin-bottom: 0px !important;
    }

    .myaccount-page-section-mobile .form-address-mobile {
    }

    .myaccount-page-section-mobile .form-address-mobile .form-control {
        padding: 10px !important;
        height: 80px !important;
    }

    .myaccount-page-section-mobile .form-address-mobile .form-control p {
        margin-bottom: 0rem;
        height: 55px !important;
    }

    .myaccount-page-section-mobile .form-address-mobile .form-control i {
        color: #212529 !important;
        left: 20px !important;
        position: relative !important;
        top: 15px !important;
        font-size: 25px !important;
    }

    .myaccount-page-section-mobile .form-address-mobile .form-control img {
        left: 5px !important;
        position: relative !important;
        top: 15px !important;
        font-size: 25px !important;
    }

    #CustomerInfo .add-button label {
        float: right !important;
        color: #78909c !important;
    }

    .plus-address-mobile {
        color: #e44436 !important;
        font-size: 20px !important;
    }

    .myaccount-section-payment-mobile .pay-target {
        height: auto !important;
        margin: 10px 0px !important;
    }

    .myaccount-section-payment-mobile .row {
        padding: 10px !important;
    }

    .input-addnewcard-section-myaccount-mobile {
        height: 50px !important;
    }

    .form-control.pay-target.input-addnewcard-section-myaccount-mobile {
        height: 50px !important;
        padding: 0px !important;
    }

    .myaccount-section-payment-mobile .saveInfo {
        border: 0px !important;
    }

    .myaccount-section-payment-mobile .saveInfo input {
        width: 100% !important;
        padding: 5px !important;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
        height: calc(1.5em + .75rem + 2px) !important;
        margin-bottom: 10px !important;
    }

    .myaccount-section-payment-mobile .saveInfo select {
        width: 100% !important;
        padding: 5px !important;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
        height: calc(1.5em + .75rem + 2px) !important;
        margin-bottom: 10px !important;
    }

    .myaccount-section-payment-mobile .saveInfo {
        padding: 0px !important;
    }

    .myaccount-section-payment-mobile .saveInfo .new-address-next-step-button {
        width: 100% !important;
        padding: 5px !important;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
        height: calc(1.5em + .75rem + 2px) !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        background-color: #e44436 !important;
    }

    .myaccount-page-section-mobile #CustomerInfo .saveInfo,
    .myaccount-page-section-mobile #CustomerInfo .saveInfo #save-info-button {
        width: 100% !important;
        color: #FFF !important;
        background-color:
    }

    .myaccount-section-payment-mobile .saveInfo .design1div_rigth .buttons {
        width: 100% !important;
    }

    .myaccount-section-payment-mobile .saveInfo .design1div_rigth .buttons .button-back-checkuot {
        display: none !important;
    }

    .zone-creditcard-myaccount-mobile label {
        color: #212529 !important;
    }

    .myaccount-section-payment-mobile {
        margin-bottom: 25px !important;
    }

    .zone-creditcard-myaccount-desktop {
        display: none !important;
    }

    .zone-creditcard-myaccount-mobile {
        display: block !important;
    }

    .topic-page {
        text-align: left !important;
    }
    /****************************** MyAccount end ***************************************/

    .address-edit-page .save-address-button,
    .address-edit-page .cancel-address-button {
        display: block !important;
        width: 100% !important;
        color: #FFF !important;
        padding: 10px !important;
        border: 0px !important;
        border-radius: 5px !important;
        margin-bottom: 15px !important;
        text-align: center !important;
    }

    .address-edit-page .save-address-button {
        background-color: #37aef3 !important;
    }

    .address-edit-page .cancel-address-button {
        background-color: #E44436 !important;
    }

    .form-change-password input {
        width: 100% !important;
        padding: 5px 5px 5px 25px !important;
        border: 1px solid #b0bec5 !important;
        border-radius: 5px;
    }

    .form-change-password span {
        position: relative !important;
        bottom: 28px !important;
        left: 10px;
    }

    .form-change-password .field-icon-login-password {
        position: absolute !important;
        top: 10px !important;
        z-index: 100 !important;
        right: 30px !important;
    }

    .change-password-button {
        background-color: #37aef3 !important;
        color: #FFF !important;
        border: 0px !important;
    }

    /*********************Detail Page Start*********************/

    .product-name {
        margin: 0px !important;
        width: 100% !important;
        padding: 15px;
        color: #455a64;
    }

    .text-breadcrumb, .text-breadcrumb a {
        margin-bottom: 0px !important;
        text-transform: uppercase;
        color: #546E7A;
    }

    .text-breadcrumb div span strong {
        font-weight: normal !important;
    }

    .priceProductDetail {
        color: #e44436;
        font-size: 40px;
        font-weight: bold;
    }

    .price-detail-produc {
        color: #546e7a;
    }

    .img-btn-qty {
    }

    .img-btn-qty {
        width: 30px;
    }

    .ButtonsaddToCart {
        background-color: transparent;
        border: 0px;
    }

    .input-qty-mobile {
        background: #e9e9ed !important;
        color: #000 !important;
    }

    .btn-addtowish-mobile {
        width: 100%;
        box-shadow: none;
        background-color: #37AEF3 !important;
        border: 1px solid #37AEF3 !important;
        margin-top: 15px;
    }

    .btn-addtocart-mobile {
        width: 100%;
        box-shadow: none;
        background: #E44436 !important;
        border: 1px solid #E44436 !important;
        margin-top: 15px;
    }

    .div-btn-detail-mobile {
        display: block !important;
        margin-top: 25px;
    }

    .share-div-mobile {
        max-width: 100% !important;
        padding: 10px;
    }

    .nn-facebook {
        color: #3b5998;
    }

    .nn-twitter {
        color: #37AEF3;
    }

    #NameButton {
        font-weight: bold;
        color: #546e7a;
    }

    .short-description {
        color: #546e7a;
    }

    #product-detail-buttons-area-mobile,
    #accordionProductDetails {
        display: block !important;
    }

    #product-detail-buttons-area-desktop {
        display: none !important;
    }

    .class-z1-version-mobile {
        padding: 10px 0px !important;
    }

    .class-z2-version-mobile {
        padding: 0px 10px !important;
    }

    #shared-button-version-mobile,
    .short-description-desktop,
    .description-zone-desktop {
        display: none !important;
    }

    .unshippable-desktop {
        color: #E44436 !important;
        text-align: center !important;
    }

    #social-network-version-mobile {
        background-color: #eee !important;
        border: 0px !important;
    }

    #accordionProductDetails {
        padding: 15px !important;
        margin: 20px 0px !important;
    }

    #accordionProductDetails a {
        color: #455a64 !important;
        font-weight: bold !important;
        font-size: 20px !important;
    }

    #accordionProductDetails .card .card-header {
        background-color: transparent !important;
        border-bottom: 3px solid #E44436;
    }

    #accordionProductDetails .card .collapsed {
        border-bottom: 1px solid #b0bec5 !important;
    }

    #accordionProductDetails .card {
        border: 0px;
    }

    #accordionProductDetails .card-header:after {
        content: "\f106";
        float: right;
    }

    #accordionProductDetails .card-header.collapsed:after {
        content: "\f107";
    }

    #accordionProductDetails #collapseTwo {
        padding: 30px 5px !important;
    }

    .divRelatedProductsBoxProdyctDetail {
        background-color: #eee !important;
        margin-top: 30px !important;
    }

    /*********************Detail Page End*********************/

    .carousel-product-detail-area-mobile {
        display: block !important;
        margin: 25px 0px !important;
    }

    .carousel-product-detail-area-desktop {
        display: none !important;
    }

    .carousel-indicators li {
        height: 15px !important;
        width: 15px !important;
        border-radius: 20px !important;
        border: 1px solid #455a64 !important;
        top: 60px !important;
        position: relative !important;
    }

    .carousel-indicators .active {
        background-color: #455a64 !important;
    }

    #accordionCategories #headingOne div .menu-version-mobile .fa-chevron-down:before {
        font-weight: bold;
        font-size: 17px;
        content: "\f106" !important;
        float: right !important;
    }

    #accordionCategories #headingOne div .menu-version-mobile .collapsed:before {
        content: "\f107" !important;
        font-weight: bold;
        font-size: 17px;
    }

    #accordionCategories #headingOne div .submenu-version-mobile .fa-plus:before {
        font-weight: bold;
        font-size: 17px;
        content: "\f068" !important;
        float: right !important;
    }

    #accordionCategories #headingOne div .submenu-version-mobile .collapsed:before {
        content: "\f067" !important;
        font-weight: bold;
        font-size: 17px;
    }

    .wishlist-page-section-desktop {
        display: none !important;
    }


    .input-wishlist-version-mobile {
        margin-left: 25% !important;
    }

    .field-validation-error span,
    .cart-items-warning-mobile {
        color: red !important;
    }


    .contacts-list-info-desktop {
        display: none !important;
    }

    .contacts-list-info-mobile {
        margin-bottom: 25px !important;
        width: 100% !important;
        text-align: center !important;
        display: block !important;
    }

    .contacts-list-info-mobile strong {
        color: green !important;
    }

    .password-recovery-page .page-body {
        padding: 20px !important;
    }

    .password-recovery-page .page-body label {
        display: block !important;
        margin-top: 25px !important;
    }

    .recovery-btn-version-mobile {
        margin-top: 25px !important;
        background-color: #37aef3 !important;
        color: #FFF !important;
        border: 0px !important;
        padding: 5px !important;
        border-radius: 5px !important;
    }

    .recovery-page-version-mobile input {
        border-radius: 5px !important;
        border: 1px solid #b0bec5 !important;
        height: 40px !important;
        padding: 10px !important;
        color: #455a64 !important;
        width: 100% !important;
    }

    .recovery-page-version-mobile span {
        position: relative;
        bottom: 0px !important;
        left: 0px !important;
    }

    .password-recovery-page .page-body i {
        top: 70px !important;
        right: 8% !important;
    }

    #carousel-products-ra-carousel-version-desktop {
        display: none !important;
    }

    #carousel-products-ra-carousel-version-mobile {
        display: block !important;
    }

    .img-fluid{
        /*
        max-width: 100%;
        height: auto;
        */
    }

    #ErrorAddressZipcodeLabel{
        color: red;
    }

    #newsletter-subscribe-button-mobile {
        background-color: #37aef3;
        border-radius: 0 8px 8px 0 !important;
        font-style: normal;
        font-weight: bold;
        color: #fff;
        border: 2px solid #37aef3;
        width: 100%;
    }

    .close-icon-menu-mobile {
        font-size: 20px;
        position: relative;
        bottom: 5px;
        left: 5px;
    }

    .zone-search-term-version-mobile {
        position: absolute !important;
        z-index: 100 !important;
        background-color: #fff !important;
        width: 100% !important;
        border-radius: 5px !important;
        padding: 5px !important;
        display: none;
        top: 40px !important;
    }

    .zone-search-term-version-mobile div a {
        color: #546e7a !important;
    }

    .zone-search-term-version-mobile div {
        margin: 10px 0px  !important;
    }
}

@media (max-width: 420px) {
    .item-category-mobile a {
        font-size: 13px !important;
    }
}


@media (max-width: 400px) {
    .item-category-mobile a {
        font-size: 13px !important;
    }

    .product-title-product-box a {
        font-size: 14px;
        color: #546e7a !important;
    }

    #second-item-nav-mobile {
        padding: 20px 5px 0px 0px !important;
    }

    .btn-orden {
        font-size: 14px !important;
    }

    .text-address-user-zone {
        font-size: 12px !important;
    }

    .pickup-points-form {
        width: 100% !important;
    }

    .pac-container {
        left: 45px;
        top: 855px;
    }
}

.non-discounted-price .price-inclusive-text span {
    
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    align-items: center;
    text-decoration-line: line-through;
    color: #546E7A;
}

ui-dialog-content{ 
    width: 64%;
    margin: 0;
    background: #fff;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.ui-dialog {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.ui-dialog-titlebar {
    display: none !important;
}
.topic-page {
    text-align: left !important;
    background: white !important;
}
.topic-page {
    margin-top: 20% !important;
}
#socialside {
    display: none;
}

.share-div-mobile {
   display:none;
}


.Title_pickupPersonNote {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #455A64;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 66%;
}
    .pickupPersonNote {
    margin-top: 10px;
    height: 153px;

    width: 80%;
    margin-left: 1%;
    max-height: 100px;
}

.content_pickupPersonNote {
    width: 578px;
    margin: auto;
    margin-top: 44px;
} 