@media all and (max-width: 1024px) {

.admin-header-links {
	/*position: fixed;
	top: 0;*/
	z-index: 10001;
	width: 100%;
}
.responsive-nav-wrapper-parent {
    position: relative;
	padding: 0 0 30px;
	z-index: 10000;
}
/*
.header {
	margin-top: 30px;
}
*/
.admin-header-links ~ .header {
	/*margin-top: 50px;*/
    z-index:2;
}
.wishlist-shoping {
	display: none;
}
.header-selectors-wrapper > div {
    height: 32px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0;
    color: #666;
    text-align: left;
    white-space: nowrap;
}
.header-selectors-wrapper select {
	min-width: 100px;
	background-position: right 5px center;
	padding-right: 15px;
}

/* RESPONSIVE NAV WRAPPER */

.responsive-nav-wrapper {
	position: relative;
	background: rgba(57,50,48,0.3);
	text-align: center;
	font-size: 0;
}
.responsive-nav-wrapper:after {
	content: "";
	display: block;
	clear: both;          
}
.responsive-nav-wrapper.stick {
	position: fixed;
	top: 0; /*top offset when NOT logged in*/
	width: 100%;
	background: rgba(57,50,48,.8);
	z-index: 10000;
}
.responsive-nav-wrapper.nav-down {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.responsive-nav-wrapper.nav-up {
    -webkit-transform: translateY(-52px);
    transform: translateY(-52px);
}
.admin-header-links ~ .responsive-nav-wrapper-parent .responsive-nav-wrapper.stick {
	/*top: 35px;*/ /*top offset when logged in*/
}
.responsive-nav-wrapper > div > span,
.responsive-nav-wrapper > div > a {
	display: block;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	height: 50px;
	width: 50px;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}
.responsive-nav-wrapper > div {
	margin-right:1px;
}
		
.responsive-nav-wrapper .menu-title {
	display: inline-block;
	background: url('../img/menu.png') no-repeat center rgba(57,50,48,.3);
}
.responsive-nav-wrapper .search-wrap {
	display: inline-block;
	background: url('../img/search.png') no-repeat center rgba(57,50,48,.3);
}
.responsive-nav-wrapper .shopping-cart-link {
	display: inline-block;
	background: url('../img/shopping-cart.png') no-repeat center rgba(57,50,48,.3);
}
.responsive-nav-wrapper .filters-button {
    display: none;
	background: url('../img/filters.png') no-repeat center rgba(57,50,48,.3);
}
.responsive-nav-wrapper .personal-button {
	display: inline-block;
	background: url('../img/personal.png') no-repeat center rgba(57,50,48,.3);
}
.responsive-nav-wrapper .wishlist-button {
	display: inline-block;
	background: url('../img/wishlist-copy.png') no-repeat center rgba(57, 50, 48, 0.3);
}


/* RESPONSIVE MENU */

.ps-container > .ps-scrollbar-y-rail {
    visibility: hidden !important;
}
.scrollYRemove {
    overflow: hidden !important;
    -ms-touch-action: none !important;
    -webkit-overflow-scrolling: touch !important;
}
.overlayOffCanvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 10001;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
    .overlayOffCanvas.show {
        background: rgba(0,0,0,0.4);
    }

.justAFixingDivBefore,
.header-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 320px;
    height: 100%;
    text-align: left;
    background: #333 !important;
    overflow: hidden;
    z-index: 2147483647;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.notAndroid23 .justAFixingDivBefore,
.notAndroid23 .header-menu {
	-webkit-transform: translate(-320px);
	-ms-transform: translate(-320px);
	transform: translate(-320px);
}
.android23 .justAFixingDivBefore,
.android23 .header-menu {
	left: -320px;
}        
.header-menu.open {
	box-shadow: 1px 0 5px rgba(0,0,0,.5);
}
.notAndroid23 .header-menu.open {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}
.android23 .header-menu.open {
	left: 0;
}

.header-menu .close-menu {
	background: url('../img/arrow-left.png') no-repeat 6% center #282322;
	cursor: pointer;
}
.close-menu span {
	display:block;
	padding: 15px 20px;
	font-size: 20px;
	color: transparent;
	text-transform: uppercase;
	line-height: 15px;
	text-align: right;
	background:url('../img/close-menu.png') no-repeat 94% center;

}
.header-menu > ul li {
	background: #393230;
}
.header-menu > ul li:after {
	content: "";
	display: block;
	clear: both;
}
.header-menu > ul li > a,
.header-menu > ul li > span {
	display: block;
	padding: 16px 20px !important;
	line-height: 17px;
	color: #ddd;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #282322;
}
.header-menu > ul li:last-child > a,
.header-menu > ul li:last-child > span {
	/*border-bottom: 0;*/
} 
.header-menu > ul li > .with-subcategories {
	/*width: 270px;*/
    width:84%;
	float: left;   
}
.plus-button {
	position:relative;
	/*float: right;*/
    float:left;
	/*width: 50px;*/
    width:15.5%;
	height: 50px;
	z-index: 2;
	cursor: pointer;
	border-bottom: 1px solid #282322;
	background:url(../img/arrow-right.png)no-repeat center;
}

.header-menu .sublist-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background: #333 !important;
    box-shadow: 1px 0 5px rgba(0,0,0,0.5);
    z-index: 3;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.notAndroid23 .header-menu .sublist-wrap {
    -webkit-transform: translate(-320px);
    -ms-transform: translate(-320px);
    transform: translate(-320px);
}
.android23 .header-menu .sublist-wrap {
    left: -320px;
}
.notAndroid23 .header-menu .sublist-wrap.active {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.android23 .header-menu .sublist-wrap.active {
    left: 0;
}

.header-menu ul li.back-button {
	background: #282322;
}
.header-menu .back-button span {
	text-transform: none;
	color: #7e7d7d;
	text-align: right;
	padding: 14px 18px !important; 
	text-transform:uppercase;
	cursor: pointer;
}

/* header menu functionality classes */

.admin-header-links,
.header,
.responsive-nav-wrapper,
.slider-wrapper,
.master-wrapper-content,
.footer {
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;        
}
.notAndroid23 .move-right {
	-webkit-transform: translate(320px);
	-ms-transform: translate(320px);
	transform: translate(320px);        
}



/* SEARCH BOX */

.search-box {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px 10px 10px;
	width: 100%;
	background: #fff;
	box-shadow: -1px 2px 1px rgba(0,0,0,0.3);
	z-index: 99999;
	text-align: center;
}
.search-box.open {
	display: block;
}
.admin-header-links ~ .search-box {
	top: 35px; /*top offset when logged in*/
}
.search-box .search-box-button {
	margin-right: -30px;
}

/* HEADER LINKS */

.header-links-wrapper {
	display: none;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	position: fixed;
	top: 0; /*top offset when NOT logged in*/
	left: 0;
	right: 0;
	z-index: 99999;
	text-align: center;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.admin-header-links ~ .header-links-wrapper {
	top: 35px; /*top offset when logged in*/
}
.header-links-wrapper.open {
	display: block;
	margin:0;	
}
.header-links-wrapper.open .header-links {
	z-index: 100010;
}

	
}




@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

	.header-menu {
		display: none;
	}

/*	.home-page-product-grid .item-grid .item-box:nth-child(2) {
		display: none;
	}

	.home-page-product-grid .item-grid .item-box:nth-child(3) {
		display: none;
	}

	.home-page-product-grid .item-grid .item-box:nth-child(4) {
		display: none;
	}*/

	.CategoryHomePage .title {
		display: none;
	}

	.category-grid .slick-slide {
		float: initial;
	}

	.home-page-product-grid .title, home-page-product-grid .title strong {
		display: none !important;
	}

	.theme-discoveryHomePage {
		width: 100%;
	}

	.CategoryHomePage .carousel-title {
		display: none !important;
	}

	.slick-initialized .slick-slide {
		display: block;
		margin-right: 27px;
		height: 377px;
		float: left;
	}

	.slick-carousel .item-box {
		width: 100% !important;
		padding: 0 5px !important;
		margin: 0 !important;
		margin-left: 15% !important;
		height: 359px !important;
		position: relative;
	}

	.slick-carousel .item-box {
		margin-left: 15% !important;
	}

	.home-page-product-grid .item-grid .item-box:first-child {
		width: 100%;
	}


	.header-upper, .header-lower {
		width: 100%;
	}

	.footer-schedule {
		width: 100%;
	}

	.home-page-product-grid, .jCarouselMainWrapper, .theme-discoveryHomePage {
		max-width: 100%;
		margin: auto;
		/*display:none;*/
	}

		.home-page-product-grid .title, home-page-product-grid .title strong {
			display: block;
		}

		.home-page-product-grid .item-grid .item-box:first-child {
			width: 373px;
			border: none;
			height: 500px;
		}

			.home-page-product-grid .item-grid .item-box:first-child .picture a:before {
				height: 369px;
			}

	.home-page-category-grid .item-box {
		margin: 0 0 10px;
	}


	.imageDiscovery {
		width: 100%;
	}

		.imageDiscovery img {
			width: 328px;
			height: 232px;
		}

	.textDiscovery {
		width: 100%;
		
	top: 51px;
	position: relative;
}
	.discoveryTitle {
		font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		/* identical to box height, or 117% */
		align-items: center;
		width: 100%;
	}

	.discoveryText {
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		width: 293px;
		text-align: center;
		margin: auto;
		margin-top: 34px;
	}
	.ViewMore {
		margin: auto;
		margin-top: 25%;
	}
	.home-page-product-grid .title, home-page-product-grid .title strong {
		display: block !important;
	}
/*
	.reachLink{
		display:none;

	}*/

	.home-page .FavoriteProduct .item-box .picture img{
		 height: 198px; 
		 width: 310px !important; 
	}
	.home-page .FavoriteProduct .item-box {
		width: 100% !important;
		height: 340px !important;
		margin-left: 14px !important;
	}
	.home-page .FavoriteProduct .item-grid .item-box .add-info {
		margin: 0;
		text-align: center;
	}
	.home-page .FavoriteProduct .item-box .prices {
		margin-left: 0;
		text-align: center;
	}

	.home-page .FavoriteProduct .item-box .prices {
		float: none;
	}

	.home-page .FavoriteProduct .item-box .buttons {
		
		text-align: center;
		margin: auto;
	}

	.home-page .FavoriteProduct .item-box .product-title {
		text-align: center;
	}
	.home-page .FavoriteProduct .item-box .buttons {
		text-align: center;
		margin: auto;
		display: contents;
	}

	.newsletter-title {
		margin-top: 16px;
		width: 100%;
	}
	.newsletter {
		width: 74%;
	}
	.newsletter-title {
		width: 100%;
		margin-left: 12px;
	}

}

.slick-list {
	z-index: -1;
}

.approvedNN {
	color: #37AEF3;
	padding-top: 4px;
	font-weight: 600;
	font-size: 14px;
	margin-top: -48px !important;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	display: ruby !important;
}
.div-select-option {
	margin-bottom: 20px;
}

.div-select-option span{
	display:block;
}