* {
    
}

.page_title {
    
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #263238;
    
}

.page-sort label {
    
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #546E7A;
}

.btn-sort {
    position: absolute;
    top: 24px;
    right: 15px;
    padding: 8px;
}

.form-sort {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

    .form-sort select, .form-sort input {
        
        display: inline-block;
        width: 100%;
        height: 40px;
        cursor: pointer;
        padding: 11px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #ECEFF1;
        color: #78909c;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        .form-sort select::-ms-expand {
            display: none;
        }

        .form-sort select:hover,
        .form-sort select:focus {
            color: #78909C;
            background: #ECEFF1;
        }

        .form-sort select:disabled {
            opacity: 0;
            pointer-events: none;
        }



.select_arrow {
    position: absolute;
    background: #E44436;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 0px;
    pointer-events: none;
}

.arrow-sort {
    color: white;
    position: absolute;
    top: 13px;
    left: 15px;
}

.page_title {
    padding-bottom: 90px;
}

.page {
    text-align: left;
}

.card-order {
    background: #F5F5F5;
    margin-top: 57px;
    padding: 20px;
}

.card-order-title {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #546E7A;
}

.card-order-text {
    
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #455A64;
}

.card-order-text2 {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #455A64;
}

.card-order-text3 {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #546E7A;
}

.card-order-text-danger {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #E44436;
}

.btn {
    padding: 10px;
}

.btn-danger, .btn-info, .btn-success {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.btn-danger {
    background: #E44436;
}

.btn-shopping {
    border: 1px solid #E44436;
    color: #E44436;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    margin-right: 20px;
}

    .btn-shopping:hover, .btn-shopping:focus {
        background: #E44436;
        color: white;
    }

.btn-payhome {
    border: 1px solid #6CC751;
    color: #6CC751;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    margin-right: 10px;
}

    .btn-payhome:hover, .btn-payhome:focus {
        background: #6CC751;
        color: white;
    }

.btn-details {
    border: 1px solid #37AEF3;
    color: #37AEF3;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    margin-right: 10px;
}

    .btn-details:hover, .btn-details:focus {
        background: #37AEF3;
        color: white;
    }

.details-order-rigth {
    text-align: right;
}

.btn-default, .btn-danger {
    height: 30px;
    padding-top: 6px;
    color: #78909C;
}

.btn-danger {
    color: white;
}

.btn-circular {
    height: 30px;
    padding-top: 2px;
    border-radius: 100px;
}

    .btn-circular:hover, .btn-circular:focus {
        height: 30px;
        padding-top: 2px;
        border-radius: 100px;
    }

.continue-shopping-button {
    background: white;
    color: #E44436;
    border: 1px solid #e44436;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.continue-shopping-checkout {
    background: #37AEF3;
    color: white;
    border: 1px solid #37AEF3;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-none-input {
    
    cursor: pointer;
    background: white;
    padding: 5px;
    border: 0px;
    color: #E44436;
}

.cart-collaterals {
    width: 100%;
}

    .cart-collaterals .coupon-code input[type="submit"] {
        background: #37aef3;
        color: #fff;
        border: 1px solid #37aef3;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-transform: capitalize;
    }

.title {
    text-align: initial !important;
}

.value-summary {
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    /* Color/BlueGrey/Gray 60 */

    color: #607D8B;
}

.total {
    font-size: 24px;
    font-weight: bold;
    color: #E44436;
}

@media(max-width: 1000px) {
    .details-order-rigth {
        text-align: left;
        margin-top: 50px;
    }

    #shopping-cart-form > div:nth-child(1) > div > div {
        display: none;
    }

    #shopping-cart-form > div > div > div > div.col-md-1 label {
        position: absolute;
        top: 510px;
    }

    #shopping-cart-form > div > div > div {
        padding-bottom: 50px;
        border: 1px solid #ebebeb;
    }

    .order-summary-content {
        margin-left: 5.5% !important;
        margin-right: 5.5% !important;
    }

    .order-summary-checkout {
        margin-left: 21% !important;
        margin-right: 21% !important;
    }

    .card-order-text2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #shopping-cart-form > div > div > div > div.col-md-6 > div > div.col-md-8 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #shopping-cart-form > div > div > div > div.col-md-3 > div > div.col-md-8 {
        position: absolute;
        right: 00%;
        float: left;
    }

    #shopping-cart-form > div > div > div > div.col-md-3 > div {
        margin-top: 10px;
        margin-bottom: 10px;
    }

   /* input[type="checkbox"] {
        position: absolute;
        top: 100px;
    }*/

    #shopping-cart-form > div > div > div > div.col-md-6 > div > div.col-md-4 > a > img {
        width: 100%;
        margin-top: 20px;
    }

    #shopping-cart-form > div {
        margin-left: -5% !important;
    }

    #termsofservice {
        position: relative;
    }

}

#shopping-cart-form > div.items .item{
    border-bottom: 1px solid #dddddd;
}

#shopping-cart-form > div.items .item > div.row.mx-auto > div.col-md-12{
    border-bottom: 0px !important;
}

.cart-summary-footer .totals {
    width: 50% !important;
    margin: 0;
}

.cart-summary-footer .cart-collaterals {
    width: 760px;
    margin: 0;
}

    .cart-summary-footer .cart-collaterals .deals {
        float: left;
        width: 360px;
    }

    .cart-summary-footer .cart-collaterals .shipping {
        float: right;
        width: 360px;
    }

.cart-summary-footer .estimate-shipping .inputs label {
    display: inline-block;
    width: 35%;
}

.cart-summary-footer .estimate-shipping .inputs input,
.cart-summary-footer .estimate-shipping .inputs select {
    width: 65%;
}


.cart-summary-footer .totals {
    float: left;
    width: 60% !important;
}

.cart-discount {
    width: 100%;
    text-align: left;
}

    .cart-discount .cart-collaterals {
        width: 350px;
        max-width: 100%;
        margin-left: 0%;
        margin-top: 60px;
    }

.cart-estimate-shipping {
    width: 350px;
    max-width: 100%;
    margin-left: 28%;
    margin-top: 10px;
}

.shopping-button {
    width: 500px;
   
}

.cart-estimate-shipping .button-2 {
    display: inline-block;
    border: none;
    background-color: #aaa;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

    .cart-estimate-shipping .button-2:hover {
        background-color: #999;
    }


.shopping-cart-page .common-buttons {
    margin: 0px !important;
}

.order-summary-title {
    text-align: center
}

.product-grid .title {
    text-align: center !important;
    border-bottom: none !important;
    line-height: 2.1em !important;
    padding: 0px !important;
}

    .product-grid .title .product-grid-margin-center {
        display: contents;
    }

.product-grid-margin-left {
    margin-left: 30px;
}

.shopping-cart-page .product-grid .item-box {
    width: 20% !important;
    margin: 0 0.5% 30px !important;
}

/*JcarouselOrderSummary*/
.shopping-cart-page .JcarouselOrderSummary .product-grid .item-box {
    height: 400px !important;
    width: 240px !important;
    margin: 0 0.5% 30px !important;
}

.item-box .product-title {
    margin-top: 4px !important;
}

.item-box .picture {
    margin: 0px !important;
}

.item-box .actual-price {
    font-size: 24px !important;
    margin-left: 61px !important;
}

/*FavoriteProduct*/
.home-page .FavoriteProduct .item-box .product-title {
    margin-top: -8px !important;
}

.FavoriteProduct .item-box .picture a img {
    max-width: 66% !important;
    max-height: 175px !important;
}



.method-name-freightquote {
    text-align: center;
}

.category-label {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #455A64;
}

.count-container {
    padding-top: 50px;
    margin: auto;
    position: relative;
}

.count-label {
    padding: 12px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    line-height: 24px !important;
    align-items: center !important;
    color: #607D8B !important;
}

.count-center {
    margin: 0;
    position: absolute !important;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.checkout-buttons {
    text-align: center !important;
}

.boton-continuar-summary {
    width: 48% !important;
    height: 38px !important;
    left: 381px;
    top: 948px;
    background: #FFFFFF !important;
    border: 1px solid #E44436 !important;
    box-sizing: border-box !important;
    border-radius: 4px;
    text-transform: none !important;
    color: #E44436 !important;
}

.boton-checkout-summary {
    width: 445px !important;
    height: 35px !important;
    text-transform: none !important;
    padding: 0 !important;
    background: #37AEF3 !important;
}

.boton-updatecart-summary {
    width: 48% !important;
    height: 38px !important;
    text-transform: none !important;
    padding: 0 !important;
    background: #37AEF3 !important;
}
