.quickView, .quickViewWindow {
    min-width: 0 !important;
    width: 660px !important;
    position: fixed;
    top: 25% !important;
    bottom: 0;
    overflow-y: auto;
    max-height: 673px;
}

/*@media(min-width: 1000px) {
    .quickView, .quickViewWindow {
        min-width: 0 !important;
        position: fixed;
        top: 0 !important;
        bottom: 0;
        overflow-y: auto;
    }
}
*/