@model ProductDetailsModel
@using Nop.Core.Domain.Seo
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings
@{
    var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();

}

@if (!string.IsNullOrWhiteSpace(Model.PageShareCode))
{
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60c299c0fa02cbc4"></script>
    <script type="text/javascript">
        // Call this function once the rest of the document is loaded
        function loadAddThis() {
            addthis.init()
        }
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="row col-3 colorGeneralBackgroundGray m-1 pl-1 pr-1 share-div-mobile">
    <div class="col-6 my-auto p-0">
        <span id="NameButton" style="text-transform:capitalize">@T("shared.Sharein")</span>
    </div>
    <div class="col-3 my-auto p-0">
        <a class="at-icon-wrapper at-share-btn at-svc-facebook" title="Facebook" target="_blank"
           href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=@productUrl">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 24 24">
                <path d="M13 3v3h-1c-1.11 0-2 .9-2 2v2h3v3h-3v7h-3v-7h-2v-3h2v-2c0-1.66 1.34-3 3-3h1V3h3z" />
            </svg>

        </a>
    </div>
    <div class="col-3 my-auto p-0">
        <a target="_blank" class="at-icon-wrapper at-share-btn at-svc-Twitter" title="Twitter"
           href="https://linkedin.com/company/nnmovingsupply">
            <svg style=" height: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="  width: 16PX;height: 16px;"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" /></svg>
        </a>
    </div>


</div>

}


