@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.NewProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-added-products-page");
}

<div class="page recently-added-products-page">
    <!--<div class="page-title panel-heading">
        <a href="@Url.RouteUrl("NewProductsRSS")" class="link-rss pull-right" title="@T("Products.NewProducts.RSS.Hint")"><i class="fa fa-rss-square">-->
    @*@T("Products.NewProducts.RSS")*@
    <!--</i></a>
        <h1>@T("Products.NewProducts")</h1>
    </div>
    <div class="page-body">
        <div class="row">
            @if (Model.Count > 0)
            {
                foreach (var product in Model)
                {
                    <div class="item-box product-grid col-xs-12 col-sm-4 col-md-4 product-align clearfix">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    </div>
                }
            }
        </div>
    </div>-->
    <div class="page not-found-page">
        <div class="page-title">
            <h1>Page not found</h1>
        </div>
        <div class="page-body">
            <div class="topic-block">
                <div class="topic-block-body">
                    <p><strong>The page you requested was not found, and we have a fine guess why.</strong></p><ul><li>If you typed the URL directly, please make sure the spelling is correct.</li><li>The page no longer exists. In this case, we profusely apologize for the inconvenience and for any damage this may cause.</li></ul>
                </div>
            </div>

           
        </div>
    </div>
</div>
