################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.dll

/.sonarqube
*.suo
/Libraries/Nop.Core/bin/
/Libraries/Nop.Core/bin/
/Libraries/Nop.Data/bin/
/Libraries/Nop.Services/bin/
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/
/Plugins/Nop.Plugin.Misc.NetSuiteConnector/obj/
/Plugins/Nop.Plugin.Misc.SendinBlue/obj/
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/
/Plugins/Nop.Plugin.Payments.Manual/obj/
/Plugins/Nop.Plugin.Payments.PayPalStandard/obj/
/Plugins/Nop.Plugin.Payments.Qualpay/obj/
/Plugins/Nop.Plugin.Payments.Square/obj/
/Plugins/Nop.Plugin.Pickup.PickupInStore/obj/
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/obj/
/Plugins/Nop.Plugin.Shipping.UPS/obj/
/Plugins/Nop.Plugin.Tax.Avalara/obj/
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/obj/
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/obj/
/Plugins/Nop.Plugin.Widgets.NivoSlider/obj/
/Presentation/Nop.Web.Framework/bin/
/Presentation/Nop.Web/bin/
/Presentation/Nop.Web/bin/
/Presentation/Nop.Web/obj/
/Presentation/Nop.Web/Plugins/
/Tests/Nop.Core.Tests/bin/
/Tests/Nop.Web.MVC.Tests/bin/
/.vs/NN_Moving_Supplies/v16/.suo
/Libraries/Nop.Core/bin/Debug/
/Libraries/Nop.Core/obj/
/Libraries/Nop.Data/bin/
/Libraries/Nop.Data/obj/
/Libraries/Nop.Services/bin/
/Libraries/Nop.Services/obj/
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/obj/
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/obj/
/Plugins/Nop.Plugin.ExternalAuth.Facebook/obj/
/Plugins/Nop.Plugin.Misc.NetSuiteConnector/obj/
/Plugins/Nop.Plugin.Misc.SendinBlue/obj/
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/obj/
/Plugins/Nop.Plugin.Payments.Manual/obj/

/.vs/NN_Moving_Supplies/config/applicationhost.config
/.vs/NN_Moving_Supplies/DesignTimeBuild/.dtbcache.v2
/.vs/NN_Moving_Supplies/v16/.suo
/Libraries/Nop.Core/bin/Debug/netcoreapp2.2/Nop.Core.dll
/Plugins/Nop.Plugin.MiscTransactionManagement
/Presentation/Nop.Web/wwwroot/images/thumbs
