@model ProductDetailsModel
@if (Model.DisplayDiscontinuedMessage)
{
    <div class="discontinued-product" style="margin-bottom: 20px;">
        <div style="margin-left: 14px;" class="UnShippable unshippable-desktop">@T("Products.Discontinued")</div>
    </div>
}