@model CheckoutPaymentInfoModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-info-page");
}
<div class="page checkout-page payment-info-page">
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Payment })
    <div class="page-title">
        <h1>@T("Checkout.PaymentInfo")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentInfoTop })
        <div class="section payment-info">
            <form asp-route="CheckoutPaymentInfo" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="info">
                    @await Component.InvokeAsync(Model.PaymentViewComponentName)
                </div>
                <div class="buttons">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 payment-info-next-step-button"/>
                </div>
            </form>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentInfoBottom })
        <div class="section order-summary">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @await Component.InvokeAsync("OrderSummary", "ShoppingCart")
        </div>
    </div>
</div>
<script>
    function validateCardNumber() {

    var error = 0;
    var payment = document.getElementById('paymentmethod_0').value;
    if (document.getElementById('AddNewCard').checked) {
        if (document.getElementById('paymentmethod_0').checked) {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    //document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        // document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }

            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        //  document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
            var CardholderName = document.getElementById("CardholderName").value;
            if (CardholderName == "") {
                error++;
                $("#CardNameJs").css("display", "block");

            } else {
                $("#CardNameJs").css("display", "none");
            }

            var CardNumber = document.getElementById("CardNumber").value;
            if (CardNumber == "") {
                error++;
                $("#CardNumberJs").css("display", "block");
                //$('#CardNumber').val(@T("EntercardNumber"));

            } else {
                $("#CardNumberJs").css("display", "none");
                // $('#CardNumber').val();
            }

            var CardCode = document.getElementById("CardCode").value;
            if (CardCode == "") {
                error++;
                $("#CardCodeJs").css("display", "block");


            } else {
                $("#CardCodeJs").css("display", "none");
            }
        } else {
        }
    }


    if (error == 0) {
        $(".validation-summary-errors").css("display", "none");
        PaymentInfo.save();
    } else {
        return false;
    }

}



</script>