@model IList<ProductOverviewModel>

@if (Model.Count > 0)
{
    <script>
        $('#divRelatedProductsBox').removeClass('d-none')

    </script>

   
    <div id="carousel-products-ra-carousel-version-desktop">
        @if (Model.Count > 4)
        {
            <div class="row d-flex justify-content-center">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 my-auto">
                    <a class="carousel-control-prev" href="#carousel-related-products" role="button" data-slide="prev" style="left:9%">
                        @*<span class="carousel-control-prev-icon" aria-hidden="true"></span>*@
                        <img src="~/Themes/DefaultClean/Content/images/chevron-left-solid.svg" style="cursor:pointer;width:150%" />
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 mt-5">
                    <div id="carousel-related-products" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto p1" role="listbox">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                var item = Model[i];
                                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 pl-1 pr-2 @Html.Raw(i==0?"active":"")">
                                    @await Html.PartialAsync("_ProductBox", item)
                                </div>
                            }
                        </div>


                    </div>
                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 my-auto">
                    <a class="carousel-control-next" href="#carousel-related-products" role="button" data-slide="next" style="left: 70%">
                        <img src="~/Themes/DefaultClean/Content/images/chevron-right-solid.svg" style="cursor: pointer; width: 150%" />
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <script>
                $('#carousel-related-products').on('slide.bs.carousel', function (e) {
                    /*
                        CC 2.0 License Iatek LLC 2018 - Attribution required
                    */


                    var $e = $(e.relatedTarget);
                    var idx = $e.index();
                    var itemsPerSlide = 4;
                    var totalItems = $('.carousel-item').length;

                    if (idx >= totalItems - (itemsPerSlide - 1)) {
                        var it = itemsPerSlide - (totalItems - idx);
                        for (var i = 0; i < it; i++) {
                            // append slides to end
                            if (e.direction == "left") {
                                $('.carousel-item').eq(i).appendTo('.carousel-inner', 1000);
                            }
                            else {
                                $('.carousel-item').eq(0).appendTo('.carousel-inner', 1000);
                            }
                        }
                    }

                });

            </script>

        }
        else
        {
            <div class="row d-flex justify-content-center">
                <div class="col-sm-11 col-md-11 col-lg-11 my-auto">
                    <div class="row w-100 mx-auto justify-content-center" role="listbox">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pl-2 pr-2">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div id="carousel-products-ra-carousel-version-mobile">
        <div class="row d-flex justify-content-center">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 my-auto">
                <a class="carousel-control-prev" href="#carousel-related-products-vm" role="button" data-slide="prev" style="left:9%">
                    
                    <img src="~/Themes/DefaultClean/Content/images/chevron-left-solid.svg" style="cursor:pointer;width:150%" />
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 mt-5">
                <div id="carousel-related-products-vm" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto p1" role="listbox">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var item = Model[i];
                            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 pl-1 pr-2 @Html.Raw(i==0?"active":"")">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>


                </div>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 my-auto">
                <a class="carousel-control-next" href="#carousel-related-products-vm" role="button" data-slide="next" style="left: 70%">
                    <img src="~/Themes/DefaultClean/Content/images/chevron-right-solid.svg" style="cursor: pointer; width: 150%" />
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <script>
            $('#carousel-related-products-vm').on('slide.bs.carousel', function (e) {
                /*
                    CC 2.0 License Iatek LLC 2018 - Attribution required
                */


                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 4;
                var totalItems = $('.carousel-item').length;

                if (idx >= totalItems - (itemsPerSlide - 1)) {
                    var it = itemsPerSlide - (totalItems - idx);
                    for (var i = 0; i < it; i++) {
                        // append slides to end
                        if (e.direction == "left") {
                            $('.carousel-item').eq(i).appendTo('.carousel-inner', 1000);
                        }
                        else {
                            $('.carousel-item').eq(0).appendTo('.carousel-inner', 1000);
                        }
                    }
                }

            });

        </script>
    </div>
      
}

<script>
    $(document).ready(function () {
        if (document.documentElement.scrollWidth > 800) {
            $("#carousel-products-ra-carousel-version-mobile").remove();
        }
        else {
            $("#carousel-products-ra-carousel-version-desktop").remove();
        }
    });
</script>

