@model CustomerAddressEditModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    Html.AppendPageCssClassParts("html-account-page");
    //page class
    Html.AppendPageCssClassParts("html-address-edit-page");
}
@section left
{
    @*await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })*@
}
<script>
            $('#divContainerRealFilters').addClass('d-none');
            $('#rowCatalogsSelectorFilter').addClass('d-none');

            $('#divContainerRealContainer').removeClass('col-lg-9');
            $('#divContainerRealContainer').addClass('col-lg-12');




</script>

<style>
    div.message-error.validation-summary-errors > ul > li{
        text-align: center;
    }

    #masterwrapperdiv .div-order-mobile {
        margin: 0px !important;
        padding: 0px !important;
    }

    #masterwrapperdiv .sub-div-order-mobile {
        margin: 0px !important;
        padding: 0px !important;
    }

    .buttons {
        padding: 15px !important;
    }

    .address-edit-page .page-body {
        padding: 10px !important;
    }
</style>
<form asp-route="CustomerAddressAdd" method="post">
    <div class="page account-page address-edit-page">
        <div class="page-title title-myaccount">
            <h1> @T("Account.CustomerAddresses.AddNew")</h1>
        </div>
        <div class="page-body">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            @{
                var dataDictAddress = new ViewDataDictionary(ViewData);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
            }
        <div class="buttons">
            <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />

            <a href="info" class="button-1 cancel-address-button">@T("Common.Cancel")</a>
        </div>
        </div>
    </div>
</form>

