@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @*await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })*@
}
<script>
    $('#divContainerRealFilters').addClass('d-none');
    $('#rowCatalogsSelectorFilter').addClass('d-none');

    $('#divContainerRealContainer').removeClass('col-lg-9');
    $('#divContainerRealContainer').addClass('col-lg-12');

</script>
<style>
    #divContainerRealContainer > div.page.account-page.change-password-page > div > form > center > div {
        text-align: center !important;
    }
    input{
        width: 90% !important;
    }

    #masterwrapperdiv .div-order-mobile{
        margin: 0px !important;
        padding: 0px !important;
    }

    #masterwrapperdiv .sub-div-order-mobile {
        margin: 0px !important;
        padding: 0px !important;
    }
</style>
<div class="page-title title-myaccount">
    <h1>@T("Account.ChangePassword")</h1>
</div>
<div class="page account-page change-password-page">

    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result" style="text-align: center !important; color: #4ab2f1;">
                @Model.Result @*<a href="/login" style="font-weight:900;">@T("Account.GoToLogin")7</a>*@
            </div>
        } 
        <form asp-route="CustomerChangePassword" method="post">
            <center><div asp-validation-summary="ModelOnly" class="message-error"></div></center>
            <div class="row justify-content-center mt-3 form-change-password">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-lg-3 col-xl-2">
                            <label asp-for="OldPassword" asp-postfix=":"></label>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-4">
                            <i class="nn- nn-eye field-icon-login-password OldPassword" style="position: absolute;top: 10px;z-index: 100;right: 16%;"></i>
                            <div class="inputs">
                                <input id="OldPassword" asp-for="OldPassword" maxlength="30" />
                                <nop-required />
                                <span asp-validation-for="OldPassword"></span>
                            </div>                            
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-md-3 col-lg-3 col-xl-2">
                            <label asp-for="NewPassword" asp-postfix=":"></label>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-4">
                            <i class="nn- nn-eye field-icon-login-password NewPassword" style="position: absolute;top: 10px;z-index: 100;right: 16%;"></i>
                            <div class="inputs">
                                <input id="NewPassword" asp-for="NewPassword" maxlength="30" />
                                <nop-required />
                                <span asp-validation-for="NewPassword"></span>
                            </div>                            
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-md-3 col-lg-3 col-xl-2">
                            <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-4">
                            <i class="nn- nn-eye field-icon-login-password ConfirmNewPassword" style="position: absolute;top: 10px;z-index: 100;right: 16%;"></i>
                            <div class="inputs">
                                <input id="ConfirmNewPassword" asp-for="ConfirmNewPassword" maxlength="30" />
                                <nop-required />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-4 col-lg-4 col-xl-3">
                            <div class="buttons">
                                <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $(".ConfirmNewPassword").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#ConfirmNewPassword");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(".NewPassword").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#NewPassword");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(".OldPassword").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#OldPassword");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>